.venv
__pycache__
qrel_task1_2020.tsv
qrel_task1_2021.tsv
qrel_task1_2022.tsv
Posts.V1.3.xml
.idea
Text Mining and Analytics -- Session 19 - Information Retrieval.pdf
evaluation/mbartbi copy
evaluation/mbartcross copy
evaluation/nllbbi copy
evaluation/nllbcross copy